@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/scss/main";

@import "@/styles/Navbar.scss";
@import "@/styles/RequestModal.scss";

@import "@/styles/pages/Home.scss";
@import "@/styles/pages/Plan.scss";
@import "@/styles/pages/Services.scss";
@import "@/styles/pages/Product.scss";
@import "@/styles/pages/MyRequest.scss";
