.request-modal-header{
  background-color: #f07654;
  background-image: linear-gradient(315deg, #e2a08d 0%, #fcd181 74%);
}

.request-modal-title{
  color:white;
}


.profile-edit-header{
  background-color: #f07654;
  background-image: linear-gradient(315deg, #e2a08d 0%, #fcd181 74%);
}

.profile-edit-title{
  color:white;
}


