#pages-plan{
  height:40vh;
  background-color: #f07654;
  background-image: linear-gradient(315deg, #f07654 0%, #fcd181 74%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pricing-header{
  padding: 3px;
  text-align: center;
}