
:root{
    --main-grey-color: #616161;
    --main-white: #F5F5F5;
    --main-light-grey: #9E9E9E;
    --text-color: #212121;
    --secondary-text-color: #757575;
    --special-color: #009688;
}

.container {
	width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
}

    /* main block */

.main {
    background: #9E9E9E
}

    /*HEADER*/

.header {
    background-color: var(--main-grey-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.head-item {
    padding: 15px;
}

.head-item a {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.3em;
    text-transform: uppercase;
    box-sizing: border-box;
    color: var(--text-color);
}

.head-item a:hover {
    color: var(--special-color);
    transition: all .3s ease-in-out;
}

    /* main content*/

.section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 88%;
    position: relative;
    background-image: url(https://images.fineartamerica.com/images-medium-large/black-and-grey-sunset-carole-martinez.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// .main-img {
// }

.main-about-me {
    position: absolute;
    top: 50%;
    margin-left: 20px;
}

.title {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'El Messiri', sans-serif;
    margin-right: 30px;
    color: var(--text-color);
}

.slogan {
    text-align: center;
    margin-top: 2rem;
    color: var(--special-color);
    font-family: "NautilusPompiliusRegular";
	font-weight: bold;
    font-size: 1.3m;
}

.arrow {
    position: absolute;
    bottom: 0;
    right: 46%;
    width: 60px;
    height: 50px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.ar {
    width: 100%;
    height: 100%;
    background-image: url(http://www.pngmart.com/files/3/Down-Arrow-PNG-File.png);
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

.projects-description {
    background: url(https://ak6.picdn.net/shutterstock/videos/9228413/thumb/1.jpg);
	background-position: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

    .projects-description .description {
        padding: 20px 40px;
        margin-bottom: 15px;
        border: 2px solid var(--text-color);
        color:var(--text-color);
        font-size: 1.4em;
        text-transform: uppercase;
    }

.projects-list-wrapper {
    background: var(--main-white);
    height: 70%;
    border-top: 2px solid var(--text-color);
    box-shadow: 0px 3px 15px 0px #9a9898 inset;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 15px;
}

    .projects-list-wrapper .list {
        padding-top: 10px;
        height: 90%;
        overflow: auto;
        white-space: nowrap;
    }

        .list .list-item {
        height: 90%;
        width: 400px;
        margin-left: 13%;
        display: inline-block;
        }

@media screen and (min-width: 1080px){
	.list .list-item {
		width: 500px;
	}
}

        .list .list-item:last-child {
            margin-right: 13%;
        }

            .list-item .name {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2em;
                color: var(--secondary-text-color);
                margin-bottom: 10px;

            }

            .list-item .img {
                width: 100%;
                height: 75%;
                box-shadow: 0px 3px 15px 0px #9a9898;
                background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            }





        .list .list-item:hover {
/*            border-top: 1px solid lightblue;
*/            border-bottom: 1px solid var(--special-color);
            }

        .list .list-item:hover .img {
            transform: scale(1.1);
            transition: transform .3s linear;
        }

